.body{
    height: 100vh;
    background-image: url("../../img/the-dk-photography-yG_8-55cXV4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    overflow:visible;
    display: flex;
    flex-direction: column;
}

.homeButton{
    align-self: center;
    width: 7vw;
    background-color: rgba(225, 217, 217, 0.5);
    border-radius: 10px;
    border: solid 3px black;
    height: 6vh;
    margin-top: 5vh;
    font-weight: 600;
    font-size: 1em;
}

.homeButton:hover{
    background-color: rgba(225, 217, 217, 0.8);
}

.navLink{
    text-decoration: none;
    color: orangered;
}

.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
}