.body{
    height: 100vh;
    background-image: url("../../img/the-dk-photography-yG_8-55cXV4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    overflow:visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.homeButton{
    width: 100px;
    background-color: rgba(225, 225, 225, 0.6);
    border-radius: 10px;
    border: solid 2px black;
    height: 45px;
    font-weight: 600;
    font-size: 1em;
}

.homeButton:hover{
    background-color: rgba(0, 255, 255, 0.2);
    cursor: pointer;
}


.containerLoading{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    justify-content: flex-start;
    align-items: center;
}

.loading{
    margin: 0;
    border: 6px solid #ccc;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.h1Loading{
    color: white;
    opacity: 80%;
}