.loadingDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.6);
}

.bodyDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderFilterDiv{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgba(245, 245, 220, 0.6);
    margin-bottom: 2vh;
}

/* background-color: rgba(245, 245, 220, 0.6);  */


.cardsDivContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
    max-width: 1000px;
    flex-wrap: wrap;
}

.containerLoading{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    /* margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
}

.loading{
    margin: 0;
    border: 6px solid #ccc;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.h1Loading{
    color: white;
    opacity: 80%;
}

