.navLink{
    text-decoration: none;
    margin: 0;
}

.bodyDiv{
    display: flex;
    width: 240px;
    height: 220px;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    border: 1px solid black;  
    position: relative;
    background-color: rgba(250, 235, 215, 0.2);
    margin-bottom: 2vh;
}

.name{
    margin: 0;
    margin-bottom: 1px;
    width: fit-content;
    height: fit-content; 
    text-decoration: underline;
    color: rgba(127, 255, 212);
}

.image{
    width: 120px;
    height: 100px;
    border: 2px solid black;
}

.temperament{
    background-color: rgba(0, 255, 255, 0.2);
    margin: 0;
    margin-bottom: 2px;
    width: fit-content;
    height: fit-content;
    border: 2px dotted black;
    color: black;
}

.weightAndHeight{
    margin: 0;
    width: fit-content;
    height: fit-content;
    color:black;
    border: 2px dotted black;
    background-color: rgba(0, 255, 255, 0.2);
}