.body{
    min-height: 100vh;
    max-height: 300vh;
    /* background-image: url("../../img/Park.jpg"); */
    background-image: url("../../img/the-dk-photography-yG_8-55cXV4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */

    /* background-color: #a4ffce; */
    /* background-color: rgb(249,228,209); */
    display: flex;
    flex-direction: column;
}

.searchBarCreateDogContainer{
    background-color: rgba(245, 245, 220, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 15%; */
}


.searchBarDiv{
    align-self: center;
    justify-self: center;
    margin-top: 1vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
    top: -20px;
    align-self: center; */
}

.buttonDiv{
    align-self:flex-end;
    justify-self: flex-end;
    margin-right: 6vw;
}

.button{
    background-color: rgba(225, 217, 217, 0.5);
    border-radius: 1em;
    border: 2px solid black;
    padding: 1vw;
}


.button:hover{
    background-color: rgba(0, 255, 255, 0.2);
}

.navLink{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}



